.performance-section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card-row {
  position: absolute; 
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  gap: 40px;
  flex-wrap: wrap;
}


.card-text {
  flex: 1 1 50%;
  font-family: "Guminert";
  font-weight: 700;
}

.card-text h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-text p {
  font-size: 1rem;
  line-height: 1.6;
}

.card-img {
  flex: 1 1 40%;
  text-align: right;
}
@media (max-width: 768px) {
.card-img img{
  height: auto !important ;
}
}
.card-img img {
  max-width: 100%;
    height: 400px;
  object-fit: contain;
  border-radius: 75px 5px 75px 5px;
  -webkit-border-radius: 75px 5px 75px 5px;
  -moz-border-radius: 75px 5px 75px 5px;
}

.f-bg {
  background-color: #4a3aff;
  color: white;
}
.s-bg {
  background-color: #ffd500;
  color: #000;
}
.t-bg {
  background-color: #000;
  color: white;
}
.forth-bg {
  background-color: #ff531a;
  color: #000;
}
